## 맛집 위치를 지도에 표기하기

In [1]:
import folium
import pandas as pd
import googlemaps
import numpy as np
import tqdm

ModuleNotFoundError: No module named 'googlemaps'

In [3]:
df = pd.read_csv('02-04주차_공공_웹데이터수집/data/03.best_sandwiches_list_chicago2.csv', index_col=0)
df.head(5)

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,"
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,"
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,"
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,"
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,"

In [5]:
gmaps_key = "AIzaSyDs-vCWYP9jxmPitdlKvnY8qLNlxQnkxeM" # 2장에서 획득한 자신의 key를 사용합니다.
gmaps = googlemaps.Client(key=gmaps_key)

In [8]:
lat = []
lng = []

for n in tqdm_notebook(df.index):
    if df['Address'][n] != 'Multiple':
        target_name = df['Address'][n]+', '+'Chicago'
        gmaps_output = gmaps.geocode(target_name)
        location_output = gmaps_output[0].get('geometry')
        lat.append(location_output['location']['lat'])
        lng.append(location_output['location']['lng'])
        
    else:
        lat.append(np.nan)
        lng.append(np.nan)

NameError: name 'tqdm_notebook' is not defined

In [ ]:
len(lat), len(lng)

In [ ]:
df['lat'] = lat
df['lng'] = lng
df.head()

In [ ]:
mapping = folium.Map(location=[df['lat'].mean(), df['lng'].mean()], 
                                      zoom_start=11)
folium.Marker([df['lat'].mean(), df['lng'].mean()], 
                                      popup='center').add_to(mapping)
mapping

In [ ]:
mapping = folium.Map(location=[df['lat'].mean(), df['lng'].mean()], 
                     zoom_start=11)

for n in df.index:
    if df['Address'][n] != 'Multiple':
        folium.Marker([df['lat'][n], df['lng'][n]], 
                                      popup=df['Cafe'][n]).add_to(mapping)

mapping